.imagen-modelo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    img{
        width: 250px;
        height: 250px;
        border-radius: 20px;
        object-fit: cover;
        object-fit: cover;
    }
    .caption{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        p{
            font-size: 1rem;
            font-weight: 400;
            color: #000;
            text-align: center;
        }
    }
   
}