<div class="flex align-items-center justify-content-end">
  @if (this.obtenerRolConectado() == '1') {
  <p-button
    label="Registrar modelo"
    icon="pi pi-plus"
    [rounded]="true"
    severity="primary"
    (onClick)="abrirModal()"
  />

  }
</div>
<form [formGroup]="form">
  <div class="flex justify-content-center align-items-center col-12"  >
    <div class="flex flex-column gap-2 col-6">
      <label for="username">Buscar...</label>
      <input
        pInputText
        id="username"
        placeholder="Buscar por horario o nombre de modelo"
        formControlName="busqueda"
        aria-describedby="username-help"
      />
    </div>
    <div class="col-4 mt-4">
      <p-button
        icon="pi pi-times"
        [rounded]="true"
        severity="danger"
        [text]="true"
        (onClick)="reiniciarFiltros()"
      />
    </div>
  </div>
</form>
<div class="flex flex-wrap gap-2 col-12 justify-content-center">
  @for( modelo of listaModelos; track modelo.idts_empleado) {
  <div
    class="p-card "
  >
    <div class="imagen-modelo">
      @if(modelo.notificacion && modelo.notificacion > 0 &&
      this.obtenerRolConectado() == '1') {
        <div class="flex justify-content-start ">
          <i
          class="pi pi-bell text-3xl p"
          pBadge
          value="{{ modelo.cantidadNotificaciones }}"
        ></i>
        </div>
      }
      <img [src]="modelo.fotos[0].base64 ?? 'assets/images/imagen.png'" />

      <div class="caption">
        <span class="p-0 m-0"
          ><b>Nombre:</b> <small class="ml-2">{{ modelo.nombre }}</small></span
        >
        <span class="p-0 m-0"
          ><b>Edad:</b> <small class="ml-2">{{ modelo.edad }}</small></span
        >
        <span class="p-0 m-0"
          ><b>Email:</b> <small class="ml-2">{{ modelo.email }}</small></span
        >
        <span class="p-0 m-0"
          ><b>Hora inicio:</b>
          <small class="ml-2">{{ modelo.horaInicio }}</small></span
        >
        <span class="p-0 m-0"
          ><b>Hora fin:</b>
          <small class="ml-2">{{ modelo.horaFin }}</small></span
        >
      </div>
      <p-accordion>
        <p-accordionTab header="Conocimientos">
          <div class="flex flex-wrap gap-2">
            @for(conocimiento of modelo.conocimientos; track
            conocimiento.idts_empleado){ @if(conocimiento.nombre){
            <p-chip
              label="{{ conocimiento.nombre }}"
              image="{{ modelo.fotos[0].base64 }}"
              alt="Avatar image"
            />

            }@else {
            <p>No hay información</p>
            } }
          </div>
        </p-accordionTab>
        <p-accordionTab header="Habilidades">
          @for(habilidades of modelo.habilidades; track
          habilidades.idts_empleado){ @if(habilidades.nombre){
          <p-chip
            label="{{ habilidades.nombre }}"
            image="{{ modelo.fotos[0].base64 }}"
            alt="Avatar image"
          />
          }@else {
          <p>No hay información</p>
          } }
        </p-accordionTab>
      </p-accordion>
      <div class="p-2 flex justify-content-center">
        <p-button
          icon="pi pi-eye"
          [rounded]="true"
          label="ver"
          severity="success"
          class="mr-2"
          [text]="true"
          (click)="verModelo(modelo)"
        />
        @if(obtenerRolConectado() == '1') {
        <p-button
          icon="pi pi-times"
          [rounded]="true"
          label="Eliiminar"
          severity="danger"
          [text]="true"
          (click)="elimiarModelo(modelo)"
        />
        }
      </div>
    </div>
  </div>
  }
</div>

<!-- boton  -->

<p-dialog
  header="Registrar modelo"
  [(visible)]="nuevoModelo"
  [modal]="true"
  [position]="'top'"
  [style]="{ width: '90rem' }"
>
  <app-registrar-modelo
    (cerrarDialogoEmit)="cerrarDialogo()"
  ></app-registrar-modelo>
</p-dialog>
